html, body {
    margin: 0px;
}
.video-wrap {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%
}
.video-overlays {
    position: absolute;
    top: 60%;
    align-content: center;
}
.video-title {
    font-size: 40px;
    font-family: "Helvetica Neue";
    color: #d7e8de;
    text-shadow: 2px 1px 3px #065a49;
    text-align: center;
}

.element {
   .center-block();
}

event {
  font-family: sans-serif;
  font-size: 24px;
}

event iframe {
  width: 100%;
}

event .name {
  font-weight: bold;
}

event .info {
  position: absolute;
  display: table-cell;
  padding: 5px;
  color: #d7e8de;
  text-shadow: 2px 1px 3px #065a49;
}

event img {
  width: 100%;
}
.buttons {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.buttons button {
  display: table-cell;
  width: 40%;
  margin: 5%;
}

button {
  border-radius: 25px!important;
  border: none!important;
  font-family: sans-serif!important;
  font-size: 16px!important;
  font-weight: 500!important;
}

button.attend {
  background: #065a49;
  color: #d7e8de;
}

button.participate {
  color: #065a49;
  background: #d7e8de;
}

button.btn-primary {
  background: #065a49;
  color: #d7e8de;
}

navbarsabyo {
  position: relative;
}

videosabyo {
  position: relative;
}

events {
  width: 100%;
  position: absolute;
}

video {
  width: 100%;
}
