<section>
  <ul class="events row">
    <li class="col-sm-4 list-group-item" *ngFor="let e of events">
      <event *ngIf="e" [url]="e.url" [name]="e.name" [date]="e.date" [location]="e.location"></event>
    </li>
  </ul>
</section>
