<div class="info">
  <div class="name">{{name}}</div>
  <div class="date">{{date}}</div>
</div>
<div class="buttons row" *ngIf="isPastEvent()">
  <button class="attend btn btn-default col-md-6">Asistir</button>
  <button class="participate btn btn-default col-md-6 pull-right">Participar</button>
</div>
<img height="300px" src="{{url}}">
