<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="#">-->
            <!--<img alt="SabYos" src="img/logo.png">-->
            <!--</a>-->
            <img alt="SabYos" src="img/logo.png">
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Idioma <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>ES</li>
                        <li>EN</li>
                    </ul>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Buscar">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>-->
            <!--</form>-->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Iniciar Sesión</a></li>
                <li><button type="button" class="btn btn-default navbar-btn">Registrarse</button></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
