<section>
    <div class="video-wrap container">
        <!--<video src="https://a248.e.akamai.net/secure.meetupstatic.com/s/img/457419671895069178/guest_home/video.mp4" autoplay="" loop=""></video>-->
        <video id="video" src="video/video.mp4" autoplay="" loop=""></video>
        <div class="video-overlays col-md-12">
            <h1 class="video-title">Experiencia que merece la pena compartir</h1>
            <p class="text-center"><button type="button" class="btn btn-primary btn-lg">Te apuntas?</button></p>
        </div>
    </div>
</section>
<script>
    (function () {
        var video = document.getElementById("video");
        video.volume = 0;
    })();
</script>
